*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #E9DECB;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
}

#MAINPART{
    margin-top: 5vw;
    width: 100vw;
    height: fit-content;
    color: white;
    font-size: medium;
}
#LOGO{
    width: 100vw;
    height: 130px;
    padding: 0px 30px 0px 30px;
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

#ABOUT{
    margin-top: -5vh;
    background-color: #324376;
    color: black;
}

#logo1{
    width: 120px;
    height: 100px;
    position: absolute;
    left: 48vw;
}
#ABOUT h1 {
    padding-bottom: 8px;
}

#ABOUT{
    padding: 0px 15% 0px 15%;
}
#REFREST{
    width: 100px;
    height: 50px;
    color: white;
    background-color: rgb(29, 26, 26);
    font-weight: bolder;
    font-size: medium;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.541) 5px 5px 10px;
}
#searchBar{
    width: 225px;
    height: 35px;
    padding-left: 5px;
    border: 2px solid black;
    outline: none;
    text-align: start;
}
#SearchButton{
    width: 50px;
    height: 35px;
    color: white;
    background-color: rgb(29, 26, 26);
    cursor: pointer;
    border: 2px solid black;
    border-radius: 0px 4px 4px 0px;
}
.Button{
    margin-right: 10px;
    width: 60px;
    height: 35px;
    color:rgb(29, 26, 26);
    background-color:white;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.541) 5px 5px 10px;
}
.Button:active {
    box-shadow: rgba(0, 0, 0, 0.541) 5px 5px 10px;
    transform: translateY(4px);
}
.meal{
    display: flex;
    flex-direction: column;
    width: 200px;
    min-height: 250px;
    max-height: fit-content;
    padding: 10px;
    gap: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.541) 10px 10px 10px;
}
.mealimg{
    width: 180px;
    border-radius: 10px;
}
#results{
    width: 70vw;
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#ingredients{
    gap: 3px;
    font-size: larger;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #ebebeb;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    min-width: 300px;
    max-width: 45%;
    max-height: fit-content;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
